@define-color bg #292b31;
@define-color fg #d6d1c9;
@define-color gray1 #76856a;
@define-color gray2 #b4ab99;
@define-color gray3 #bda07f;
@define-color gray4 #f3e9bd;
@define-color gray5 #b7a593;
@define-color fg_bright #d6d1c9;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}