:root {
--color00: #010102;
--color01: #010102;
--color02: #010102;
--color03: #EBE7DC;
--color04: #f0f0f1;
--color05: #f0f0f1;
--color06: #f0f0f1;
--color07: #f0f0f1;
--color08: #8e8e99;
--color09: #9797a1;
--color0A: #b2b2b9;
--color0B: #878793;
--color0C: #c7c7cd;
--color0D: #a7a7b0;
--color0E: #b7b7be;
--color0F: #bebec5;
}
