:root {
--color00: #292b31;
--color01: #292b31;
--color02: #292b31;
--color03: #ffffff;
--color04: #d6d1c9;
--color05: #d6d1c9;
--color06: #d6d1c9;
--color07: #d6d1c9;
--color08: #dd5544;
--color09: #f3e9bd;
--color0A: #fff4d4;
--color0B: #76856a;
--color0C: #9b907f;
--color0D: #bda07f;
--color0E: #b7a593;
--color0F: #f28b7c;
}
